<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/alaska.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/small.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


</head>
<body>



{% if app.user and is_granted('ROLE_ADMIN') %}
    <div class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></div>
{% endif %}

<div class="container-fluid">
    <div class="blue-mountains">
        <h1 class="text-center animated fadeInDown">
            <span id="titre" >Billet simple pour l'Alaska</span>
            <hr>
            <span id="auteur">par Jean Forteroche</span>
        </h1>
    </div>
    <div class="intro">
        <p class="intro-texte text-center">
            <img src="../web/images/quote-left.svg" class="quote-left"/>
             Bienvenue à toi visiteur. <br/>
            C’est une nouvelle aventure qui t’attend.<br/>
            Un voyage vers les contrées reculées au paysages magnifiques où la nature règne
            en maître. <br />
            faits de
            forêts millénaires et de montagnes glacées.<br />
            Un voyage vers une vie faite d’émerveillement et de simplicité.<br />
            Un Aller simple pour l’Alaska 
            <img src="../web/images/right-quotation-mark.svg" class="quote-right"/>

        </p>
    </div>
    <div class="articles-container row">


        {#<div class="article col-xs-12" id="article1">#}
            {#<div class="row">#}
                {#<div class="article-image col-sm-4" id="image1"></div>#}
                {#<div class="article-corps col-sm-8">#}
                    {#<div class="article-corps-header">#}
                        {#<span class="numero-chapitre text-center">1</span><span class="article-titre"><span  class="titre-chapitre">Chapitre Premier<span class="slash">/</span></span>  Le départ</span>#}
                    {#</div>#}
                    {#<div class="article-corps-corps">#}
                        {#<p>Au début, je regardais le monde comme un endroit magnifique, puis finalement,#}
                            {#je pris un billet simple pour l’Alaska et cela changega ma vie.#}
                            {#Ce fut une décision très importante pour le reste de mes années et j’y passai un moment formidable.#}
                            {#rendais le monde comme un endroit magnifique, puis finalement, je pris un billet simple pour l’Alaska et cela rendais#}
                            {#le monde comme un endroit magnifique, puis finalement, je pris un billet simple pour l’Alaska et celardais le monde comme un endroit magnifique,#}
                            {#vous connaissez également les diverses façons dont les images de background peuvent être rendues responsives, s’étirer pour couvrir#}
                            {#le viewport ou être recadrées à mesure que la fenêtre du navigateur est redimensionnée.#}
                            {#puis finalement, je pris un billet simple pour l’Alaska...#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="article col-xs-12" id="article2">#}
            {#<div class="row">#}
                {#<div class="article-image col-sm-4" id="image2"></div>#}
                {#<div class="article-corps col-sm-8">#}
                    {#<div class="article-corps-header">#}
                        {#<span class="numero-chapitre text-center">2</span><span class="article-titre"><span class="titre-chapitre">Chapitre deux<span class="slash">/</span>  </span>  La gare de Humpton</span>#}
                    {#</div>#}
                    {#<div class="article-corps-corps">#}
                        {#<p>#}
                            {#qui se etiam nunc subsidiis patrimonii aut amicorum liberalitate sustentant,#}
                            {#hos perire patiemur? An, si qui frui publico non potuit per hostem, hic tegitur#}
                            {#ipsa lege censoria; quem is frui non sinit, qui est, etiamsi non appellatur,#}
                            {#hostis, huic ferri auxilium non oportet? Retinete igitur in provincia diutius eum,#}
                            {#qui de sociis cum hostibus, de civibus cum sociis faciat pactiones, qui hoc etiam se pluris esse quam collegam putet, quod ille vos tristia voltuque deceperit,#}
                            {#ipse numquam se minus quam erat, nequam esse simularit. Piso autem alio quodam modo gloriatur#}
                            {#se brevi tempore perfecisse, ne Gabinius unus omnium nequissimus existimaretur.#}
                            {#si qui frui publico non potuit per hostem, hic tegitur#}
                            {#ipsa lege censoria; quem is frui non sinit, qui est, etiamsi non appellatur,#}
                            {#hostis, huic ferri auxilium non oportet? Retinete igitur in provincia diutius eum,#}
                            {#qui de sociis cum hostibus...#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="article col-xs-12" id="article3">#}
            {#<div class="row">#}
                {#<div class="article-image col-sm-4" id="image3"></div>#}
                {#<div class="article-corps col-sm-8">#}
                    {#<div class="article-corps-header">#}
                        {#<span class="numero-chapitre text-center">3</span><span class="article-titre"><span class="titre-chapitre">Chapitre deux<span class="slash">/</span>  </span>  La gare de Humpton</span>#}
                    {#</div>#}
                    {#<div class="article-corps-corps">#}
                        {#<p>#}
                            {#qui se etiam nunc subsidiis patrimonii aut amicorum liberalitate sustentant,#}
                            {#hos perire patiemur? An, si qui frui publico non potuit per hostem, hic tegitur#}
                            {#ipsa lege censoria; quem is frui non sinit, qui est, etiamsi non appellatur,#}
                            {#hostis, huic ferri auxilium non oportet? Retinete igitur in provincia diutius eum,#}
                            {#qui de sociis cum hostibus, de civibus cum sociis faciat pactiones, qui hoc etiam se pluris esse quam collegam putet, quod ille vos tristia voltuque deceperit,#}
                            {#ipse numquam se minus quam erat, nequam esse simularit. Piso autem alio quodam modo gloriatur#}
                            {#se brevi tempore perfecisse, ne Gabinius unus omnium nequissimus existimaretur.#}
                            {#si qui frui publico non potuit per hostem, hic tegitur#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {% set colors =  ['white', '#FCEFE9', '#D6E5E3'] %}
        {% set counter = 0 %}
        {% for article in articles %}

            {% set color = colors[counter] %}

            {% if article.image == NULL %}
                {% set image = 'image1.jpg' %}
                {% else %}
                {% set image = article.image %}
            {% endif %}

            <div class="article col-xs-12" id="article3" style="background-color: {{ color }}">
                <div class="row">
                    <div class="article-image col-sm-4" id="image" style="background-image: url('{{ asset('/uploads/' ~ image) }}')"></div>
                    <div class="article-corps col-sm-8">
                        <div class="article-corps-header">
                            <span class="numero-chapitre text-center">{{ article.id }}</span><span class="article-titre"><span class="titre-chapitre">Chapitre {{ article.id }}<span class="slash">/</span>  </span><a href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></span>
                        </div>
                        <div class="article-corps-corps">


                                {% autoescape false %}

                                {{ article.content[:1000] ~ '...' }}
                                   <a href="{{ path('article', { 'id': article.id }) }}"><span id="poursuivre-la-lecture">poursuivre la lecture</span></a>

                                {% endautoescape %}

                        </div>
                    </div>
                </div>
            </div>

            {% if counter == 2 %}
                {% set counter = 0 %}
            {% else %}
                {% set counter = counter + 1 %}
            {% endif %}

        {% endfor %}






    </div>

</div>




<script   src="{{ asset('/lib/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('/lib/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('/lib/javascript/size.js') }}"></script>



<script>

</script>
</body>
</html>




